<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ www.prosysoft.com Inc.
  ~ Copyright (c) 2019  All Rights Reserved
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean id="friendShipDaoImpl" class="com.SLJMH.dao.impl.FriendShipDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean class="com.SLJMH.dao.impl.ComplaintDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean class="com.SLJMH.dao.impl.ComplaintProcessLogDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    <bean id="commentDaoImpl" class="com.SLJMH.dao.impl.CommentDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    <bean id="replyDaoImpl" class="com.SLJMH.dao.impl.ReplyDaoImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
</beans>